/*CSS básico, zerando espaçamento e colocando uma fonte*/
body {
    /*alterado a cor*/
    border: 20px #0f0f11;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    text-align: justify;
}*
{
    margin: 0;
    padding: 0;
    font-family: Gill Sans, sans-serif;
 }
 /*Estilo do menu*/
 .navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(61, 26, 58, 0.753);
    font-size: 17px;
    box-shadow: 1px 1px 5px rgb(212, 209, 209);
    }
    .navbar ul {
    list-style: none;
    position: relative;
    }
   
   .navbar ul li {
    float: right;
    width: 10%;
    }
   
   .navbar .link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 13px;
    font-weight: bold;
    background-color: rgb(97, 7, 7);
    color: rgb(255, 255, 255);
    margin-top: 15px;
    }
   
   .navbar ul ul {
    visibility: hidden;
    position: absolute; 
    }
   
   .navbar ul li:hover ul {
    visibility: visible;
    }
   
   .navbar .link:hover {
    color: rgb(255, 0, 0);
    border-bottom: 2px solid rgba(255, 0, 0, 0.644);
    }
/*Fim do estilo do menu*/
/*Centralizando a página*/
.pagina {
    width: 72%;
    margin: 20px auto;
    margin-top: 25px;
    padding: 25px;  
}
h1,h2,p{
    margin-top: 20px;
}